
QGroupBox {
    background-color: white;
    border: 0px solid gray;
    border-radius: 5px;
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

QGroupBox::title {
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    subcontrol-origin: margin;
    subcontrol-position: top left;
}

QGroupBox#gb_history {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    padding-top: -30px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 350px;
}

QToolButton#ExplainHistory {
    margin-bottom: 20px;
    max-height: 26px;
    max-width: 26px;
    border: 0px;
}

QLabel {
    font-size: 14px;
    color: #808080;
    margin-bottom: 0px;
}

QLineEdit#le_myAddress {
    font-family: "Roboto Mono";
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    border: 0px;
    border-bottom: 2px solid #ffce03;
    background-color: #ffffff;
    min-height: 30px;
}

QToolButton#CopyAddressToClipboard_5 {
    background: rgb(255,215,31);
    color: rgb(59,65,145);
    border: 1px solid rgb(255,255,255);
    border-right: 2px solid rgb(255,255,255);
    border-right-color: qlineargradient(
        x1: 0, y1: 0,
        x2: 1, y2: 0,
        stop: 0      #ffffff,
        stop: 0.5    #ffffff,
        stop: 0.5001 #b6bdca,
        stop: 1      #b6bdca
    );
    border-bottom: 2px solid rgb(255,255,255);
    border-bottom-color: qlineargradient(
        x1: 0, y1: 0,
        x2: 0, y2: 1,
        stop: 0      #ffffff,
        stop: 0.5    #ffffff,
        stop: 0.5001 #b6bdca,
        stop: 1      #b6bdca
    );
    min-height: 30px;
    min-width: 30px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}

QToolButton#CopyAddressToClipboard_5:pressed {
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 0px;
    margin-bottom: 0px;
}

QLineEdit#le_balance {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    border: 0px;
    border-bottom: 2px solid #ffce03;
    background-color: #ffffff;
    margin-bottom: 20px;
    min-height: 35px;
}

QLabel#Symbol_5 {
    font-size: 20px;
    color: #808090;
}

QLineEdit#KeysConnected {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 0px;
    border-bottom: 2px solid #ffce03;
    background-color: #ffffff;
    margin-bottom: 20px;
    min-height: 35px;
    color: #808090;
}

QToolButton#Refresh {
    background: rgb(255,215,31);
    color: rgb(59,65,145);
    border: 1px solid rgb(255,255,255);
    border-right: 2px solid rgb(255,255,255);
    border-right-color: qlineargradient(
        x1: 0, y1: 0,
        x2: 1, y2: 0,
        stop: 0      #ffffff,
        stop: 0.5    #ffffff,
        stop: 0.5001 #b6bdca,
        stop: 1      #b6bdca
    );
    border-bottom: 2px solid rgb(255,255,255);
    border-bottom-color: qlineargradient(
        x1: 0, y1: 0,
        x2: 0, y2: 1,
        stop: 0      #ffffff,
        stop: 0.5    #ffffff,
        stop: 0.5001 #b6bdca,
        stop: 1      #b6bdca
    );
    min-height: 30px;
    min-width: 30px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 22px;
}

QToolButton#Refresh:pressed {
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 0px;
    margin-bottom: 20px;
}

QToolButton#ExportToCSV {
    border: 0px;
    color: #5b48ab;
    margin-top: 5px;
    min-width: 150px;
}

QToolButton#ClearHistory {
    border: 0px;
    color: #5b48ab;
    margin-top: 5px;
    min-width: 150px;
}
