
QGroupBox {
    background-color: white;
    border: 0px solid gray;
    border-radius: 5px;
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

QGroupBox::title {
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    subcontrol-origin: margin;
    subcontrol-position: top left;
}

QGroupBox#sendCoinsGroupBox {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    padding-top: -30px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 350px;
    max-height: 350px;
}

QToolButton#tb_sendPanelHelp {
    margin-bottom: 20px;
    max-height: 26px;
    max-width: 26px;
    border: 0px;
}

QGroupBox#twoStepSendGroupBox {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 200px;
}

QLineEdit#BitPayTo {
    font-family: "Roboto Mono";
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    border: 0px;
    background-color: #f2f2f2;
    min-height: 35px;
}

QLineEdit#BitAmount {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    border: 0px;
    background-color: #f2f2f2;
    min-height: 35px;
}

QLineEdit#BitFee {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    border: 0px;
    background-color: #f2f2f2;
    min-height: 35px;
}

QLabel#l_actualBalance {
    font-size: 14px;
    color: #808080;
}

QLabel#l_availableBalance {
    margin-top: 20px;
    font-size: 14px;
    color: #808080;
}

QLineEdit#le_actualBalance, QLineEdit#le_availableBalance {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    border: 0px;
    border-bottom: 2px solid #ffce03;
    background-color: #ffffff;
    margin-bottom: 20px;
    min-height: 35px;
}

QLabel#Symbol_3 {
    font-size: 20px;
    color: #808090;
}

QLabel#Symbol_4 {
    font-size: 20px;
    color: #808090;
}

QLabel#l_stepOneHead {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

QLabel#l_stepTwoHead {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

QLabel#l_stepOne {
    font-size: 14px;
    color: #808080;
}

QLabel#l_stepTwo {
    font-size: 14px;
    color: #808080;
}

QToolButton#AdvancedSend {
    border: 0px;
    color: #5b48ab;
    margin-top: 15px;
    min-width: 200px;
}

QPushButton {
    background: rgb(255,215,31);
    color: rgb(59,65,145);
    border: 1px solid rgb(255,255,255);
    border-right: 2px solid rgb(255,255,255);
    border-right-color: qlineargradient(
        x1: 0, y1: 0,
        x2: 1, y2: 0,
        stop: 0      #ffffff,
        stop: 0.5    #ffffff,
        stop: 0.5001 #b6bdca,
        stop: 1      #b6bdca
    );
    border-bottom: 2px solid rgb(255,255,255);
    border-bottom-color: qlineargradient(
        x1: 0, y1: 0,
        x2: 0, y2: 1,
        stop: 0      #ffffff,
        stop: 0.5    #ffffff,
        stop: 0.5001 #b6bdca,
        stop: 1      #b6bdca
    );
    min-height: 35px;
    min-width: 150px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

QPushButton:pressed {
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 0px;
    margin-bottom: 0px;
}

QPushButton#OpenBitSignatureAndSend {
    min-width: 250px;
}
